.schedule
	.day-even
		background-color: #f9f9f9

	.lecture
		background-color: indianred

	.class
		background-color: lightgreen

	.empty
		background-color: gray

	thead
	  position: fixed
	  background: white
	  margin-top: -1px

	th:nth-of-type(1)
		width: 30px

	td
		opacity: 0.4
		transition: background-color 500ms, opacity 500ms

		&.highlighted
		  background-color: yellow

		&.selected
		  opacity: 1.0
